<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>查看订单</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" media="all">
        <link rel="stylesheet" href="__CSS__/admin.css" media="all">
        <style>
          
            .orderinfo {
                width: 100%;
                height: 300px;
                border-collapse:collapse;
            }

            .rowbox {
                width: 100%;
                height: 30px;
                line-height: 30px;
            }

            .rowtitle {
                background-color: #444;
            }

            .piece {
                float: left;
                text-align: center;
            }

        </style>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-card">
                <div class="layui-card-body" style="padding: 15px;">

                    <table class="layui-table" lay-size="sm">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th rowspan="3">订单信息</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr> 
                        </thead>
                        <tbody>

                            <tr>
                                <td>订单编号</td>
                                <td>旅游卡号</td>
                                <td>订单类型</td>
                                <td>订单金额</td>
                                <td>订单状态</td>
                                <td>支付时间</td>
                                <td>升级状态</td>
                            </tr>
                            <tr>
                                <td>{$info.order_sn}</td>
                                <td>{$info.order_number}</td>
                                <td>{$info.order_type}</td>
                                <td>{$info.order_money}元</td>
                                <td>{if $info.order_status eq 1} 支付成功 {elseif $info.order_status eq -1} 支付失败 {else} 已创建 {/if}</td>
                                <td>{if $info.order_paytime eq 0} 未支付 {else} {:date('Y-m-d H:i',$info.order_paytime)} {/if}</td>
                                <td>{if $info.order_result eq 0} 未成功 {else} 升级成功 {/if}</td>
                            </tr>
                        </tbody>
                    </table> 

                    <table class="layui-table" lay-size="sm" style="margin-top: 20px;">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th rowspan="3">用户信息</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr> 
                        </thead>
                        <tbody>

                            <tr>
                                <td>用户姓名</td>
                                <td>手机号码</td>
                                <td>用户性别</td>
                                <td>身份证号</td>
                                <td>权益类型</td>
                                <td>到期时间</td>
                            </tr>
                            <tr>
                                <td>{$info.real_name}</td>
                                <td>{$info.user_name}</td>
                                <td>{$info.gender}</td>
                                <td>{$info.id_number}</td>
                                <td>{$info.type_name}</td>
                                <td>{$info.expire_time}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <script src="__STATIC__/layui/layui.js"></script>  
        <script>
            layui.config({
                base: '__STATIC__/admin/'
            }).extend({
                index: 'lib/index'
            }).use(['index', 'form', 'upload'], function(){
                var $ = layui.$
                ,layer = layui.layer
                ,upload = layui.upload
                ,form = layui.form;
            });
        </script>
    </body>
</html>
